body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto 0; /* Agregamos espacio en la parte superior */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#logo {
    width: 200px;
    height: 150px;
}

#user {
    width: 40px;
    height: 40px;
    padding-right: 40px;
}

#carrito {
    width: 50px;
    height: 45px;
    padding-right: 10px;
}

.user-icon,
.cart-icon {
    font-size: 24px;
    margin-left: 10px;
}

nav {
    background-color: #91b450;
    color: white;
    padding: 10px 0;
}

#contactonav {
    padding-left: 10px;
    color: black;
}

.barrabuscar {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: flexbox;
    margin-right: 10px;
    margin-bottom: 10px;
}

#lupa {
    width: 30px;
    height: 30px;
    
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;
}

.content {
    padding: 20px 0;
    position: relative;
}

.slider-container {
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    
}

.slider {
    display: flex;
    width: 300%; 
    transition: transform 3s ease-out;
}

.slide {
    min-width: 100%;
    
    box-sizing: border-box; 
}

.frutas{
    background: #DAF7A6;
    border-radius: 10px;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    cursor: pointer;    
}

#prevBtn {
    left: 30px;
    background-color: transparent;
  border: none;
  
  padding: 0;
}

#nextBtn {
    right: 40px;
    background-color: transparent;
  border: none;
  padding: 0;
}

footer {
    background-color: #91b450;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.Informacion {
    color: black;
}

.Nosotros {
    color: black;
}

.Preguntas {
    color: black;
}

.Terminos {
    color: black;
}

.Politicas {
    color: black;
}

.Direccion {
    color: black;
}

.Telefono {
    color: black;
}

.Correo {
    color: black;
}

.ProductosYProveedores {
    color: black;
}

.FruverBuenosAires1 {
    color: black;
}
.image-text-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px; /* Espacio entre el contenido y las imágenes */
  }
  
  .image-text {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
  }
  
  .image-text img {
    width: 150px; /* Establece el tamaño de las imágenes */
    height: 150px;
    border-radius: 50%; /* Si las imágenes son redondas */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }
  
  /* Estilos para cada imagen y texto */
  .image-text:nth-child(1) {
    background-color: #ff9154; /* Color de fondo para la primera imagen */
  }
  
  .image-text:nth-child(2) {
    background-color: #e8cd79; /* Color de fondo para la segunda imagen */
  }
  
  .image-text:nth-child(3) {
    background-color: #91b451; /* Color de fondo para la tercera imagen */
  }
  
  .image-text:nth-child(4) {
    background-color: #c71a16; /* Color de fondo para la cuarta imagen */
  }
  
  .image-text p {
    margin: 0;
    color: black;
    font-weight: bold; /* Puedes ajustar el estilo del texto según lo desees */
  }
